<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{classpath:static/css/styles.css}" rel="stylesheet" type="text/css"/>

    <style>

        @page {
            size: 210mm 297mm; /* A4 size */
            margin: 10mm 3mm 10mm 3mm;
            }
        .resized-image {
            width: 500px; /* Set the desired width */
            height: auto; /* Maintain aspect ratio */
        }
        table {
        width: 100%;
        border-collapse: collapse;
        }
        .font-helva
        {
          font-family: 'Helvetica', sans-serif;
                    font-size: 15px;
        }
        .customPi {
        font-size: 1.5em; /* Adjust as needed */
        font-weight: bold; /* Adjust as needed */
        }
        .address{
       text-align: left;
       padding-left:10px;
        }
        td {
        border: 1px solid black;
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 6px;
        padding-bottom: 6px;
        }
        .alignCenter {
        text-align: center;
        }
        .alignLeft {
        text-align: left;
        }

    th, td {
      border: 1px solid black;
      text-align: center;
      height: 20px; /* Adjust the height as needed */
       font-weight: bold;
    }
    .no-sep-l-r-t-b {
  border-left: none;
    border-top: none;
      border-bottom: none;
        border-right: none;
}
.no-sep-l {
  border-left: none;
}

.no-sep-r {
  border-right: none;
}
    </style>
</head>

<body>
<div style="overflow-x: auto; font-weight: bold;">
    <table class="alignCenter font-sans-serif font-w-400 font-s-15">
        <!-- 1st row with colspan 10 -->
        <tr>
            <td class="alignCenter customPi font-s-20" colspan="10">PROFORMA INVOICE</td>
        </tr>
        <!-- 2nd row with colspan 2, 8 and width 20%, 80% respectively -->
        <tr>
            <td style="width: 70%;" class="no-sep-r" colspan="6">
                <div class="font-s-16 image-row alignLeft">
                    <div class="font-s-18"><b>HIMYOUG TUFF GLASS INDUSTRIES PVT. LTD.</b></div>
                    <div>Plot No E5 Near Chakan Oil Mill, Kupwad MIDC,</div>
                    <div>Sangli, PIN: 416436, GST NO: 27AAECH2044N1ZG,</div>
                    <div>PAN NO: AAECH2044N, Ph: 8669585198,</div>
                    <div>E-mail: himyougtuffglass16716@gmail.com,</div>
                    <div class="margin-b-4">Web: www.himyougtuffglass.com</div>
                </div>
            </td>
            <td style="width: 30%;" class="no-sep-l" colspan="4">
                <table>
                    <tr class="no-sep-l-r-t-b">
                        <td style="width: 30%;" class="no-sep-l-r-t-b margin-4">
                            <img th:src="@{classpath:static/images/gold_plus_logo.png}" style="height: 80px;"
                                 class="margin-4" width="80px" alt="Logo"/>
                        </td>
                        <td style="width: 18%;" class="no-sep-l-r-t-b margin-4">
                            <img th:src="@{classpath:static/images/Sisecam_logo.jpg}" style="height: 80px;"
                                 class="margin-4" width="80px" alt="Logo"/>
                        </td>
                        <td style="width: 22%;" class="no-sep-l-r-t-b margin-4">
                            <img th:src="@{classpath:static/images/himyoug_logo1.png}" style="height: 80px;"
                                 width="80px" class="alignLeft margin-4 margin-l-2" alt="Logo"/>
                        </td>
                        <td style="width: 30%;" class="no-sep-l-r-t-b margin-4">
                            <img th:src="@{classpath:static/images/ISO_logo_full.jpg}" style="height: 80px;"
                                 width="80px" class="alignLeft margin-4" alt="Logo"/>
                        </td>
                    </tr>
                </table>
            </td>

        </tr>
        <!-- 3rd row with colspan 5, 3, 2 and width 46%, 27%, 27% respectively -->
        <tr>
            <td style="width: 46%;" class="font-s-17" colspan="5"><b>Proforma Invoice No: </b><span
                    th:text="${piValue.getPiNumber()}"></span>
            </td>
            <td style="width: 32.4%;" colspan="3"><b>User: </b><span th:text="${piValue.getCreatedBy()}"></span></td>
            <td style="width: 21.6%;" colspan="2"><b>Date: </b><span
                    th:text="${#temporals.format(piValue.getInvoiceDate(), 'dd-MM-yyyy')}"></span></td>
        </tr>
        <!-- 4th and 5th rows with colspan 5, 5 and width 46%, 54% respectively -->
        <tr>
            <td style="width: 46%;" colspan="5">Invoice To</td>
            <td style="width: 54%;" colspan="5">Dispatch To</td>
        </tr>
        <tr>
            <td style="width: 46%;" colspan="5" class="address">
                <div class="customPi" th:text="${reportDetails.getBillToPartyName()}"></div>
                <div><span th:utext="${reportDetails.getBillToAddress()}"></span></div>
            </td>
            <td style="width: 54%;" colspan="5" class="address">
                <div th:if="${reportDetails.getShippingAddress()} != null">
                    <div><span th:utext="${reportDetails.getShippingAddress()}"></span></div>
                </div>
                <div th:if="${reportDetails.getShippingAddress()} == null and ${reportDetails.getShipToPartyName()} != null">
                    <div class="customPi" th:text="${reportDetails.getShipToPartyName()}"></div>
                    <div><span th:utext="${reportDetails.getShipToAddress()}"></span></div>
                </div>
            </td>
        </tr>
        <!-- 6th row with nocolspan width for first 5 column 5 9.2% and remaining 5 with width 10.8% -->
        <tr>
            <td style="width: 3.2%;" rowspan="2">
                <div><b>Sr.</b></div>
                <div><b>No</b></div>
            </td>
            <td style="width: 11.2%;" rowspan="2">
                <div><b>Width</b></div>
                <div><b>(Inch)</b></div>
            </td>
            <td style="width: 12.2%;" rowspan="2">
                <div><b>Height</b></div>
                <div><b>(Inch)</b></div>
            </td>
            <td style="width: 18.4%;" colspan="2">
                <div><b>Actual Size</b></div>
            </td>

            <td style="width: 20.8%;" rowspan="2"><b>Glass Type</b></td>
            <td style="width: 6.8%;" rowspan="2"><b>QTY</b></td>
            <td style="width: 8.8%;" rowspan="2">
                <div th:if="${piValue.getPiTypeName() == 'MM'}">
                    <div><b>SQ MTR</b></div>
                </div>
                <div th:if="${piValue.getPiTypeName() == 'SQFT'}">
                    <div><b>SQ FT</b></div>
                </div>
            </td>
            <td style="width: 8.8%;" rowspan="2"><b>Rate</b></td>
            <td style="width: 8.8%;" rowspan="2"><b>Amount INR</b></td>
        </tr>
        <tr>
            <td tyle="width: 9.2%;">
                <div><b>Width</b></div>
                <div><b>(MM)</b></div>
            </td>
            <td tyle="width: 9.2%;">
                <div><b>Height</b></div>
                <div><b>(MM)</b></div>
            </td>
        </tr>
        <!-- 7th row with colspan 10 -->
        <th:block th:each="entry : ${reportDetails.getGlassItemDetails()}">
            <tr>
                <td class="font-s-20 font-w-bold"
                    th:text="${entry.key.glassSpecificationName + ' Thickness ' + entry.key.glassThicknessName + '  (' + entry.key.unitTotal} + ' ' + ${reportDetails.getUnitLabel()} +')'"
                    colspan="10"></td>
            </tr>
            <!-- 8th row with nocolspan width for first 5 column 5 9.2% and remaining 5 with width 10.8% -->
            <tr th:each="item,iterStat : ${entry.value}">
                <td style="width: 9.2%;" th:text="${iterStat.index} + 1"></td>
                <td style="width: 9.2%;" th:text="${item.widthMeasurementLabel}"></td>
                <td style="width: 9.2%;" th:text="${item.heightMeasurementLabel}"></td>
                <td style="width: 9.2%;" th:text="${item.actualWidth}"></td>
                <td style="width: 9.2%;" th:text="${item.actualHeight}"></td>
                <td style="width: 10.8%;" th:text="${item.glassTypeName}"></td>
                <td style="width: 10.8%;" th:text="${item.quantity}"></td>
                <td style="width: 10.8%;" th:text="${item.unitValue}"></td>
                <td style="width: 10.8%;" th:text="${item.ratePerUnit}"></td>
                <td style="width: 10.8%;" th:text="${item.amount}"></td>
            </tr>
        </th:block>
        <!-- 9th row with colspan 4, 2, 1, 1, 1, 1 and width 36.8%, 20%, 10.8% for remaining 4 -->
        <tr>
            <td style="width: 36.8%;" colspan="4"></td>
            <td style="width: 20%;" colspan="2">Sub Total</td>
            <td style="width: 10.8%;" th:text="${reportDetails.getTotalQuantity()}"></td>
            <td style="width: 10.8%;" th:text="${reportDetails.getTotalUnitTotal()}"></td>
            <td style="width: 10.8%;"></td>
            <td style="width: 10.8%;" th:text="${reportDetails.getTotalAmount()}"></td>
        </tr>
        <!-- 10th row with colspan 4, 2, 1, 1, 1, 1 and width 36.8%, 20%, 10.8% for remaining 4 -->

        <tr th:each="item, iterStat : ${reportDetails.getServiceRateDetails()}" class="font-s-16">
            <td style="width: 36.8%;" colspan="4"></td>
            <td style="width: 20%;" colspan="2" th:text="${item.getServiceRateName()}"></td>
            <td style="width: 10.8%;" th:text="${item.getQuantity()}">val</td>
            <td style="width: 10.8%;"></td>
            <td style="width: 10.8%;" th:text="${item.getRate()}">val</td>
            <td style="width: 10.8%;" th:text="${item.getTotal()}">val</td>
        </tr>
        <!-- 11th row with colspan 6, 3, 1 and width 47.6%, 32.4%, 10.8% -->
        <tr>
            <td class="alignLeft padding-8 font-s-15 font-w-400" rowspan="2" style="width: 47.6%;" colspan="6">
                <div class="customPi">BANK DETAILS</div>
                <div><b>Bank- Canara Bank</b></div>
                <div><b>Branch- Sangli</b></div>
                <div><b>A/C No- 120001818690</b></div>
                <div><b>IFSC Code- CNRB0001613</b></div>
            </td>
            <td class="padding-8 font-s-16 font-w-500" style="width: 32.4%;" colspan="3">
                <div><b>Basic Amount</b></div>
                <div th:if="${piValue.getAdminCharges() > 0}">
                    <div><b>Admin Charges</b></div>
                </div>
                <div th:if="${piValue.getOtherCharges() > 0}">
                    <div><b>Other Extra Charges</b></div>
                </div>
                <div th:if="${piValue.getTransportCharges() > 0}">
                    <div><b>Transport Charges</b></div>
                </div>
                <div th:if="${reportDetails.getIPercent() != '0'}">
                    <div><b th:text="'Insurance (' + ${reportDetails.getIPercent()} + '%)'"></b></div>
                </div>
                <div th:if="${reportDetails.getProxSqft() != '0' and reportDetails.getProxSqft() != '0.0'}">
                    <b th:utext="'Prox Sqft/Rate (' + ${reportDetails.getProxSqft()} + '/' + ${reportDetails.getProxSqftRate()} + ')'"></b>
                </div>
                <div th:if="${reportDetails.getGstType() == 'IGST' && reportDetails.getIGst() != '0.0'}">
                    <div><b>IGST (18%)</b></div>
                </div>
                <div th:if="${reportDetails.getGstType() == 'SGST-CGST' && (reportDetails.getSGst() != '0.0'|| reportDetails.getCGst() != '0.0')}">
                    <div><b>SGST (9%)</b></div>
                    <div><b>CGST (9%)</b></div>
                </div>

            </td>
            <td style="width: 10.8%;">
                <div th:text="${piValue.getBasicAmount()}"></div>
                <div th:if="${piValue.getAdminCharges() > 0}" th:text="${piValue.getAdminCharges()}"></div>
                <div th:if="${piValue.getOtherCharges() > 0}" th:text="${piValue.getOtherCharges()}"></div>
                <div th:if="${piValue.getTransportCharges() > 0}" th:text="${piValue.getTransportCharges()}"></div>
                <div th:if="${reportDetails.getIPercent() != '0'}" th:text="${reportDetails.getIPercentAmount()}"></div>
                <div th:if="${reportDetails.getProxAmount() != '0' and reportDetails.getProxAmount() != '0.0'}" th:text="${reportDetails.getProxAmount()}"></div>
                <div th:if="${reportDetails.getGstType() == 'IGST' && reportDetails.getIGst() != '0.0'}"
                     th:text="${reportDetails.getIGst()}"></div>
                <div th:if="${reportDetails.getGstType() == 'SGST-CGST' && (reportDetails.getSGst() != '0.0' || reportDetails.getCGst() != '0.0')}">
                    <div th:text="${reportDetails.getSGst()}"></div>
                    <div th:text="${reportDetails.getCGst()}"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="padding-8" style="width: 32.4%;" colspan="3">
                <div><b>Grand Total</b></div>
            </td>
            <td style="width: 10.8%;">
                <div th:text="${reportDetails.getGrandTotal()}"></div>
            </td>
        </tr>
        <tr>
            <td colspan="10">
                <div class="alignLeft padding-8 font-s-13 font-w-700">
                    <div>(1) PAYMENT: 50% ADVANCE, 50% AFTER DELIVERY.(2) TRANSPORTATION: EXTRA AT ACTUAL.</div>
                    <div>(3) UNLOADING: BY BUYER.(4) OFFER VALIDITY: 7 DAYS.</div>
                    <div>(5) PLEASE CHECK ALL THE SIZES AND DRAWINGS BEFORE CONFIRMATION AS NO CHANGES AND DISPUTES
                        WILL BE ENTERTAINED THERE AFTER.
                    </div>
                    <div>(6) TAXES (GST) AS PER GOVT RULES.</div>
                    <div>(7) ANY CLAIM OR REJECTION HAS TO BE BROUGHT TO OUR NOTICE WITHIN 24 Hrs. In WRITTEN.</div>
                    <div>(8) TRANSIT BREAKAGE OF ANNEALED GLASS IS BUYERS LIABILITY.9) DELIVERY PERIOD: 7-8 BUSINESS
                        DAYS.
                    </div>
                    <div>(10) PAYMENT IF NOT CLEARED IN 15 DAYS, 3% EXTRA PAYMENT SHALL BE CHARGED.</div>
                    <div>(11) INSURANCE COVER UPTO COMPANY GATE.</div>
                </div>

            </td>
        </tr>
        <tr>
            <td colspan="10">
                <div class="alignCenter">DESIGNS</div>
            </td>
        </tr>
        <span th:each="design : ${designs}">
            <tr>
                <td colspan="10">
                    <li th:each="entry : ${design.entrySet()}">
                    <div th:text="${entry.key}"></div>
                    <div class="alignCenter">
                        <img th:src="@{${entry.value}}" alt="Base64 Image" class="resized-image"/>
                    </div>
                    </li>

                </td>
            </tr>
        </span>
    </table>
</div>
</body>
</html>

