<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{classpath:static/css/styles.css}" rel="stylesheet" type="text/css"/>

    <style>
        .resized-image {
            width: 500px; /* Set the desired width */
            height: auto; /* Maintain aspect ratio */
        }
        table {
        width: 100%;
        border-collapse: collapse;
        }
        .font-helva
        {
          font-family: 'Helvetica', sans-serif;
                    font-size: 14px;
        }
        .customPi {
        font-size: 1.5em; /* Adjust as needed */
        font-weight: bold; /* Adjust as needed */
        }
        .address{
       text-align: left;
       padding-left:10px;
        }
        td {
        border: 1px solid black;
        padding: 8px;
        }
        .alignCenter {
        text-align: center;
        }
        .alignLeft {
        text-align: left;
        }

    th, td {
      border: 1px solid black;
      padding: 0px;
      text-align: center;
      height: 20px; /* Adjust the height as needed */
    }
    </style>
</head>

<body>
<div style="overflow-x: auto;">
    <table class="alignCenter font-helva font-w-400 font-s-14">
        <!-- 1st row with colspan 10 -->
        <tr>
            <td class="alignCenter customPi font-s-20" colspan="10">PROFORMA INVOICE</td>
        </tr>
        <!-- 2nd row with colspan 2, 8 and width 20%, 80% respectively -->
        <tr>
            <td style="width: 20%;" colspan="2"></td>
            <td class="alignCenter font-s-16"  style="width: 80%;" colspan="8">
                <div class="customPi">HIMYOUG TUFF GLASS INDUSTRIES PVT. LTD.</div>
                    <div>Plot No E5 Near Chakan Oil Mill, Kupwad MIDC, Sangli 416436</div>
                    <div>GST NO:27AAECH2044N1ZG, PAN NO:AAECH2044N</div>
                    <div>Ph.:8669585198, E-Mail:himyougtuffglass16716@gmail.com</div>
                    <div>Web:www.himyougtuffglass.com</div>
            </td>
        </tr>
        <!-- 3rd row with colspan 5, 3, 2 and width 46%, 27%, 27% respectively -->
        <tr>
            <td style="width: 46%; " class="font-s-17" colspan="5"><b>Proforma Invoice No:</b><span
                    th:text="${piValue.getPiNumber()}"></span>
            </td>
            <td style="width: 32.4%;" colspan="3"><b>User:</b><span th:text="${piValue.getCreatedBy()}"></span></td>
            <td style="width: 21.6%;" colspan="2"><b>Date:</b> <span
                    th:text="${#temporals.format(piValue.getInvoiceDate(), 'dd-MM-yyyy')}"></span></td>
        </tr>
        <!-- 4th and 5th rows with colspan 5, 5 and width 46%, 54% respectively -->
        <tr>
            <td style="width: 46%;" colspan="5">Invoice To</td>
            <td style="width: 54%;" colspan="5">Dispatch To</td>
        </tr>
        <tr>
            <td style="width: 46%;" colspan="5" class="address">
                <div class="customPi" th:text="${reportDetails.getBillToPartyName()}"></div>
                <div><span th:utext="${reportDetails.getBillToAddress()}"></span></div>
            </td>
            <td style="width: 54%;" colspan="5" class="address">
                <div th:if="${reportDetails.getShippingAddress()} != null">
                    <div><span th:utext="${reportDetails.getShippingAddress()}"></span></div>
                </div>
                <div th:if="${reportDetails.getShippingAddress()} == null and ${reportDetails.getShipToPartyName()} != null">
                    <div class="customPi" th:text="${reportDetails.getShipToPartyName()}"></div>
                    <div><span th:utext="${reportDetails.getShipToAddress()}"></span></div>
                </div>
            </td>
        </tr>
        <!-- 6th row with nocolspan width for first 5 column 5 9.2% and remaining 5 with width 10.8% -->
        <tr>
            <td style="width: 9.2%;" rowspan="2">
                <div>Sr.</div>
                <div>No</div>
            </td>
            <td style="width: 9.2%;" rowspan="2">
                <div>Width</div>
                <div>(Inch)</div>
            </td>
            <td style="width: 9.2%;" rowspan="2">
                <div>Height</div>
                <div>(Inch)</div>
            </td>
            <td style="width: 18.4%;" colspan="2">
                <div>Actual Size</div>
            </td>

            <td style="width: 10.8%;" rowspan="2">Glass Type</td>
            <td style="width: 10.8%;" rowspan="2">QTY</td>
            <td style="width: 10.8%;" rowspan="2">
                <div th:if="${piValue.getPiTypeName() == 'MM'}">
                    <div>SQ MTR</div>
                </div>
                <div th:if="${piValue.getPiTypeName() == 'SQFT'}">
                     <div>SQ FT</div>
                </div>
            </td>
            <td style="width: 10.8%;" rowspan="2">Rate</td>
            <td style="width: 10.8%;" rowspan="2">Amount INR</td>
        </tr>
        <tr>
            <td tyle="width: 9.2%;">
                <div>Width</div>
                <div>(MM)</div>
            </td>
            <td tyle="width: 9.2%;">
                <div>Height</div>
                <div>(MM)</div>
            </td>
        </tr>
        <!-- 7th row with colspan 10 -->
        <th:block th:each="entry : ${reportDetails.getGlassItemDetails()}">
            <tr>
                <td class="font-s-18 font-w-400"
                    th:text="${entry.key.glassSpecificationName + ' Thickness ' + entry.key.glassThicknessName + '  (' + entry.key.unitTotal} + ' ' + ${reportDetails.getUnitLabel()} +')'"
                    colspan="10"></td>
            </tr>
            <!-- 8th row with nocolspan width for first 5 column 5 9.2% and remaining 5 with width 10.8% -->
            <tr th:each="item,iterStat : ${entry.value}">
                <td style="width: 9.2%;" th:text="${iterStat.index} + 1"></td>
                <td style="width: 9.2%;" th:text="${item.widthMeasurementLabel}"></td>
                <td style="width: 9.2%;" th:text="${item.heightMeasurementLabel}"></td>
                <td style="width: 9.2%;" th:text="${item.actualWidth}"></td>
                <td style="width: 9.2%;" th:text="${item.actualHeight}"></td>
                <td style="width: 10.8%;" th:text="${item.glassTypeName}"></td>
                <td style="width: 10.8%;" th:text="${item.quantity}"></td>
                <td style="width: 10.8%;" th:text="${item.unitValue}"></td>
                <td style="width: 10.8%;" th:text="${item.ratePerUnit}"></td>
                <td style="width: 10.8%;" th:text="${item.amount}"></td>
            </tr>
        </th:block>
        <!-- 9th row with colspan 4, 2, 1, 1, 1, 1 and width 36.8%, 20%, 10.8% for remaining 4 -->
        <tr>
            <td style="width: 36.8%;" colspan="4"></td>
            <td style="width: 20%;" colspan="2">Sub Total</td>
            <td style="width: 10.8%;" th:text="${reportDetails.getTotalQuantity()}"></td>
            <td style="width: 10.8%;" th:text="${reportDetails.getTotalUnitTotal()}"></td>
            <td style="width: 10.8%;"></td>
            <td style="width: 10.8%;" th:text="${reportDetails.getTotalAmount()}"></td>
        </tr>
        <!-- 10th row with colspan 4, 2, 1, 1, 1, 1 and width 36.8%, 20%, 10.8% for remaining 4 -->

        <tr th:each="item, iterStat : ${reportDetails.getServiceRateDetails()}" class="font-s-16">
            <td style="width: 36.8%;" colspan="4"></td>
            <td style="width: 20%;" colspan="2" th:text="${item.getServiceRateName()}"></td>
            <td style="width: 10.8%;" th:text="${item.getQuantity()}">val</td>
            <td style="width: 10.8%;"></td>
            <td style="width: 10.8%;" th:text="${item.getRate()}">val</td>
            <td style="width: 10.8%;" th:text="${item.getTotal()}">val</td>
        </tr>
        <!-- 11th row with colspan 6, 3, 1 and width 47.6%, 32.4%, 10.8% -->
        <tr>
            <td class="alignLeft padding-8 font-s-15 font-w-400" rowspan="2" style="width: 47.6%;" colspan="6">
                <div class="customPi">BANK DETAILS</div>
                <div>Bank- Canara Bank</div>
                <div>Branch- Sangli</div>
                <div>A/C No- 120001818690</div>
                <div>IFSC Code- CNRB0001613</div>
            </td>
            <td class="padding-8 font-s-14 font-w-500" style="width: 32.4%;" colspan="3">
                <div><b>Basic Amount</b></div>
                <div th:if="${piValue.getAdminCharges() > 0}">
                    <div><b>Admin Charges</b></div>
                </div>
                <div th:if="${piValue.getOtherCharges() > 0}">
                    <div><b>Other Extra Charges</b></div>
                </div>
                <div th:if="${piValue.getTransportCharges() > 0}">
                    <div><b>Transport Charges</b></div>
                </div>
                <div th:if="${reportDetails.getIPercent() != '0'}">
                    <div><b th:text="'Insurance (' + ${reportDetails.getIPercent()} + '%)'"></b></div>
                </div>
                <div th:if="${reportDetails.getUPercent() != '0'}">
                    <div><b th:text="'Urgency (' + ${reportDetails.getUPercent()} + '%)'"></b></div>
                </div>
                <div th:if="${reportDetails.getGstType() == 'IGST' && reportDetails.getIGst() != '0.0'}">
                    <div><b>IGST (18%)</b></div>
                </div>
                <div th:if="${reportDetails.getGstType() == 'SGST-CGST' && (reportDetails.getSGst() != '0.0'|| reportDetails.getCGst() != '0.0')}">
                    <div><b>SGST (9%)</b></div>
                    <div><b>CGST (9%)</b></div>
                </div>

            </td>
            <td style="width: 10.8%;">
                <div th:text="${piValue.getBasicAmount()}"></div>
                <div th:if="${piValue.getAdminCharges() > 0}" th:text="${piValue.getAdminCharges()}"></div>
                <div th:if="${piValue.getOtherCharges() > 0}" th:text="${piValue.getOtherCharges()}"></div>
                <div th:if="${piValue.getTransportCharges() > 0}" th:text="${piValue.getTransportCharges()}"></div>
                <div th:if="${reportDetails.getIPercent() != '0'}" th:text="${reportDetails.getIPercentAmount()}"></div>
                <div th:if="${reportDetails.getUPercent() != '0'}" th:text="${reportDetails.getUPercentAmount()}"></div>
                <div th:if="${reportDetails.getGstType() == 'IGST' && reportDetails.getIGst() != '0.0'}" th:text="${reportDetails.getIGst()}"></div>
                <div th:if="${reportDetails.getGstType() == 'SGST-CGST' && (reportDetails.getSGst() != '0.0' || reportDetails.getCGst() != '0.0')}">
                    <div th:text="${reportDetails.getSGst()}"></div>
                    <div th:text="${reportDetails.getCGst()}"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="padding-8" style="width: 32.4%;" colspan="3">
                <div><b>Grand Total</b></div>
            </td>
            <td style="width: 10.8%;">
                <div th:text="${reportDetails.getGrandTotal()}"></div>
            </td>
        </tr>
        <tr>
            <td colspan="10">
                <div class="alignLeft padding-8 font-s-13 font-w-700">
                    <div>(1) PAYMENT: 50% ADVANCE, 50% AFTER DELIVERY.(2) TRANSPORTATION: EXTRA AT ACTUAL.</div>
                    <div>(3) UNLOADING: BY BUYER.(4) OFFER VALIDITY: 7 DAYS.</div>
                    <div>(5) PLEASE CHECK ALL THE SIZES AND DRAWINGS BEFORE CONFIRMATION AS NO CHANGES AND DISPUTES
                        WILL BE ENTERTAINED THERE AFTER.
                    </div>
                    <div>(6) TAXES (GST) AS PER GOVT RULES.</div>
                    <div>(7) ANY CLAIM OR REJECTION HAS TO BE BROUGHT TO OUR NOTICE WITHIN 24 Hrs. In WRITTEN.</div>
                    <div>(8) TRANSIT BREAKAGE OF ANNEALED GLASS IS BUYERS LIABILITY.9) DELIVERY PERIOD: 7-8 BUSINESS
                        DAYS.
                    </div>
                    <div>(10) PAYMENT IF NOT CLEARED IN 15 DAYS, 3% EXTRA PAYMENT SHALL BE CHARGED.</div>
                    <div>(11) INSURANCE COVER UPTO COMPANY GATE.</div>
                </div>

            </td>
        </tr>
        <tr>
            <td colspan="10">
                <div class="alignCenter">DESIGNS</div>
            </td>
        </tr>
        <span th:each="design : ${designs}">
            <tr>
                <td colspan="10">
                    <li th:each="entry : ${design.entrySet()}">
                    <div th:text="${entry.key}"></div>
                    <div class="alignCenter" >
                        <img th:src="@{${entry.value}}" alt="Base64 Image" class="resized-image"/>
                    </div>
                    </li>

                </td>
            </tr>
        </span>
    </table>
</div>
</body>
</html>

