<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{classpath:static/css/styles.css}" rel="stylesheet" type="text/css"/>

    <style>
        table {
        margin: 0 auto;
        margin-top: 0 auto;
        width: 100%;
        border-collapse: collapse;
        vertical-align: middle;
        }
        .font-helva
        {
          font-family: 'Helvetica', sans-serif;
                    font-size: 14px;
        }
        td {
        border: 1px solid black;
        padding: 8px;
        }
        .alignCenter {
        text-align: center;
        }
        .alignLeft {
        text-align: left;
        }

    th, td {
      border: 1px solid black;
      padding: 0px;
      text-align: center;
      height: 30px; /* Adjust the height as needed */
    }
    </style>
</head>

<body>
<div style="overflow-x: auto;">
    <table class="alignCenter font-helva font-w-400 font-s-14">
        <tr>
            <td style="width: 100%;font-size: 18px;" colspan="7">TOUGHEN REPORT
            </td>
        </tr>
        <tr>
            <td style="height: 50px;font-weight: bold;font-size: 22px;" colspan="7">
                <span th:text="${toughen.getPartyName()}"></span>
            </td>
        </tr>
        <tr>
            <td style="width: 100%;font-weight: bold;" colspan="7">
                Date: <span th:text="${#temporals.format(toughen.getDate(), 'dd-MM-yy')}"></span>
            </td>
        </tr>
        <tr>
            <td style="width: 23%;height: 30px;font-size: 18px;" colspan="2">
                WORK ORDER
            </td>
            <td style="width: 23%;height: 30px;font-size: 18px;" colspan="2">
                JB
            </td>
            <td style="width: 23%;height: 30px;font-size: 18px;" colspan="2">
                REJECTED
            </td>
            <td style="width: 31%;height: 30px;font-size: 18px;" colspan="1">
                TOTAL COMPLETED
            </td>
        </tr>
        <tr>
            <td style="width: 23%;height: 30px;" colspan="2">
            </td>
            <td style="width: 23%;height: 30px;" colspan="2">
            </td>
            <td style="width: 23%;height: 30px;" colspan="2">
            </td>
            <td style="width: 31%;height: 30px;" colspan="1">
            </td>
        </tr>
        <tr>
            <td style="width: 23%;height: 30px;font-size: 18px;" colspan="2">
                Work Order
            </td>
            <td style="width: 23%;height: 30px;font-size: 18px;" colspan="2">
                JB
            </td>
            <td style="width: 23%;height: 30px;font-size: 18px;" colspan="2">
                Reject
            </td>
            <td style="width: 31%;height: 30px;font-size: 18px;" colspan="1">
                Total
            </td>
        </tr>
        <tr>
            <td style="width: 13%;font-weight: bold;" colspan="1">
                Thickness
            </td>
            <td style="width: 10%;font-weight: bold;" colspan="1">
                Sqft
            </td>
            <td style="width: 13%;font-weight: bold;" colspan="1">
                Thickness
            </td>
            <td style="width: 10%;font-weight: bold;" colspan="1">
                Sqft
            </td>
            <td style="width: 13%;font-weight: bold;" colspan="1">
                Thickness
            </td>
            <td style="width: 10%;font-weight: bold;" colspan="1">
                Sqft
            </td>
            <td style="width: 31%;font-weight: bold;" colspan="1">
                total
            </td>
        </tr>
        <span th:each="loopData : ${toughen.completedWorkOrders}">
            <tr>
                <td style="width: 13%;height: 20px;vertical-align: middle;" colspan="1">
                    <span th:text="${loopData.getThickness()}"></span>
                </td>
                <td style="width: 10%;height: 20px;" colspan="1">
                    <span th:text="${loopData.getSqft()}"></span>
                </td>
                <td style="width: 13%;height: 20px;" colspan="1">
                </td>
                <td style="width: 10%;height: 20px;" colspan="1">
                </td>
                <td style="width: 13%;height: 20px;" colspan="1">
                </td>
                <td style="width: 10%;height: 20px;" colspan="1">
                </td>
                <td style="width: 31%;height: 20px;" colspan="1">
                </td>
            </tr>
        </span>
    </table>
</div>
</body>
</html>

