<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>TOUGHEN REPORT</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 5px;
            text-align: center;
            font-family: "Aptos", sans-serif;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <td colspan="7">TOUGHEN REPORT</td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td colspan="5" style="text-align: left; font-weight: 700">
            HIMYOUG TUFF GLASS INDUSTRIES PVT. LTD
        </td>
    </tr>
    <tr>
        <td colspan="7" th:text="'Date: ' + ${toughen[0].date}"></td>
    </tr>
    <tr>
        <td colspan="2">WORK ORDER</td>
        <td colspan="2">JB</td>
        <td colspan="2">REJECT</td>
        <td>TOTAL COMPLETED</td>
    </tr>
    <tr>
        <td colspan="2" th:text="${toughen[0].workOrder} + ' Sqft'"></td>
        <td colspan="2" th:text="${toughen[0].jb} + ' Sqft'"></td>
        <td colspan="2" th:text="${toughen[0].reject} + ' Sqft'"></td>
        <td th:text="${toughen[0].totalCompleted} + ' Sqft'"></td>
    </tr>
    <tr>
        <td colspan="2">Work Order</td>
        <td colspan="2">JB</td>
        <td colspan="2">Reject</td>
        <td>Total</td>
    </tr>
    <tr style="background-color: rgb(232, 227, 227)">
        <th>Thickness</th>
        <th>Sqft</th>
        <th>Thickness</th>
        <th>Sqft</th>
        <th>Thickness</th>
        <th>Sqft</th>
        <th>Total</th>
    </tr>
    <tr th:each="thickness : ${toughen[0].thickness}">
        <td th:text="${thickness}"></td>
        <td th:text="${toughen[0].workOrderSqft[thickness] ?: '0'}"></td>
        <td th:text="${thickness}"></td>
        <td th:text="${toughen[0].jbSqft[thickness] ?: '0'}"></td>
        <td th:text="${thickness}"></td>
        <td th:text="${toughen[0].rejectSqft[thickness] ?: '0'}"></td>
        <td th:text="${toughen[0].totalSqft[thickness] ?: '0'}"></td>
    </tr>
</table>
</body>
</html>
