/* Font Weight 100 to 900 */
.font-w-100 {
  font-weight: 100;
}

.font-w-200 {
  font-weight: 200;
}

.font-w-300 {
  font-weight: 300;
}

.font-w-400 {
  font-weight: 400;/*normal*/
}

.font-w-500 {
  font-weight: 500;
}

.font-w-600 {
  font-weight: 600;
}

.font-w-700 {
  font-weight: 700;/*bold*/
}

.font-w-800 {
  font-weight: 800;
}

.font-w-900 {
  font-weight: 900;
}

/* Font Size 11px to 20px */
.font-s-11 {
  font-size: 11px;
}

.font-s-12 {
  font-size: 12px;
}

.font-s-13 {
  font-size: 13px;
}

.font-s-14 {
  font-size: 14px;
}

.font-s-15 {
  font-size: 15px;
}

.font-s-16 {
  font-size: 16px;
}

.font-s-17 {
  font-size: 17px;
}

.font-s-18 {
  font-size: 18px;
}

.font-s-19 {
  font-size: 19px;
}

.font-s-20 {
  font-size: 20px;
}

.font-s-25 {
  font-size: 25px;
}

/* Font Family - Serif */
.font-serif {
  font-family: 'Times New Roman', Times, serif;
}

/* Font Family - Sans-serif */
.font-sans-serif {
  font-family: Arial, Helvetica, sans-serif;
}

/* Font Family - Monospace */
.font-monospace {
  font-family: 'Courier New', Courier, monospace;
}

/* Font Family - Cursive */
.font-cursive {
  font-family: 'Brush Script MT', cursive;
}

/* Font Family - Fantasy */
.font-fantasy {
  font-family: 'Comic Sans MS', fantasy;
}

/* Font Family - Default (Browser Default) */
.font-default {
  font-family: initial;
}
