/* Padding Top */
.padding-t-4 {
  padding-top: 4px;
}

.padding-t-8 {
  padding-top: 8px;
}

.padding-t-12 {
  padding-top: 12px;
}

.padding-t-16 {
  padding-top: 16px;
}

/* Padding Bottom */
.padding-b-4 {
  padding-bottom: 4px;
}

.padding-b-8 {
  padding-bottom: 8px;
}

.padding-b-12 {
  padding-bottom: 12px;
}

.padding-b-16 {
  padding-bottom: 16px;
}

/* Padding Left */
.padding-l-4 {
  padding-left: 4px;
}

.padding-l-8 {
  padding-left: 8px;
}

.padding-l-12 {
  padding-left: 12px;
}

.padding-l-16 {
  padding-left: 16px;
}

/* Padding Right */
.padding-r-4 {
  padding-right: 4px;
}

.padding-r-8 {
  padding-right: 8px;
}

.padding-r-12 {
  padding-right: 12px;
}

.padding-r-16 {
  padding-right: 16px;
}

/* Padding All */
.padding-4 {
  padding: 4px;
}

.padding-8 {
  padding: 8px;
}

.padding-12 {
  padding: 12px;
}

.padding-16 {
  padding: 16px;
}
